@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../public/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../public/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('../public/fonts/Inter-ExtraBold.ttf');
}

#root{
  font-family: 'Inter', sans-serif;

}

body{
  display:flex;
  justify-content: center;
  align-items: center;
}

a:hover{
  transition: color 150ms ease-in-out;
  color: hsl(5, 85%, 63%);
}

button:hover{
  transition: all 150ms ease-in-out;
  background-color: black;
  color:white;
}

@media screen and (min-width:1024px) {
  body{
    height: 100vh;
  }
  
}